.container-fluid {
	width: 95%;
	height: 95%;
}

#map-canvas {
	height: 750px;
	width: 100%;	
}

/* Create unit container */
#create-unit-container {
	margin-top: 1.5%;
	background-color:#DFF1FF;
}

/* Search bar icon */
.glyphicon.glyphicon-search.form-control-feedback {
    margin-right: 15px;
}

/* Scale up checkboxes */
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2.0);

  /* Webkit browsers*/
  -webkit-transform: scale(2.0);

}

/* Toolbox, upper part of sidebar */
#toolbox {
    background: #f0f8ff;
    border: 2px solid #ccc;
    border-bottom: 0px;
}

/* Results, lower part of sidebar */
#results {
    border: 2px solid #ccc;
    border-top: 0px;
}

.menu-container{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

/* Menu labels (border options etc.) */
.menu-label{
    float: left;
    margin-top: 20px;
}

/* The container for adding a new unit */
#create-unit-row {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f0f8ff;
    margin-top: 10px;
}


/* The search-row */
#search-row {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-12.form-group.has-feedback {
    margin-bottom: 10px;
}

#toolbar-wrapper {
    margin-top: 5px;
}

.info {
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}

/* Animate save-button (for feedback) */
.create-unit-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Testing some media-queries */
@media screen and (max-height: 736px) and (max-width:500px){
    #map-canvas {
        height:200px;
    }
}
