<!DOCTYPE html>

<html>
<head>
<!-- Allows us to use æøå etc. -->
<meta charset='utf-8'>

<!-- Makes the page mobile-friendly. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>JonasBrotherinos App</title>

<!-- jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Arrive (lib for detecting when elements are added to the DOM) -->
<script src="js/arrive-2.0.0.min.js"></script>
<!-- Latest compiled and minified JavaScript for bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- Script for panels ui -->
<script src="js/panels.js"></script>
<script src="js/ui.js"></script>
<!-- Google Maps - Own API key used. Remove later. -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCOMUA-V2O418d4UzRqM2sSYW2jUuhhX4"></script>

<!-- Link the javascripts -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/map.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="http://dhis2-cdn.org/v215/ext/resources/css/ext-plugin-gray.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</head>

<!-- We reference the controller here. -->
<body data-ng-app="facilityRegistry"
	data-ng-controller="TestController as testCtrl">

	<!-- Wide container which encapsulates everything in the app. -->
	<div class="container-fluid">
		<h1>Facility Registry</h1>

		<!-- Nest rows to let the map span multiple rows. -->
		<div class="row" style="height: 100%">

			<!-- Map -->
			<div class="col-md-8">
				<div id="map-canvas"></div>
			</div>

			<!-- Right-hand side. Added a background so we can see the boundaries of the box. -->
			<div class="col-md-4" style="background-color: #f0f8ff">

				<!-- Options for search. Currently 2 useful menus and 2 useful buttons.-->
				<div class="row">

					<div class="col-md-3" style="margin-top: 2%">
						<!-- Find me button -->
						<button type="button" class="btn btn-default btn-md"
							ng-click="getLocation()">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							Find me
						</button>
					</div>
					<div class="col-md-3" style="margin-top: 2%">
						<!-- Create unit button -->
						<button type="button" class="btn btn-default btn-md"
							id="add-new-btn">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add new
						</button>
					</div>
					<!-- Type to search for -->
					<div class="col-md-3" style="margin-top: 2%">
						<select class="form-control"
							data-ng-model="testCtrl.currentOrgType"
							data-ng-options="option.name for option in testCtrl.levelOptions">
							<option value="">Unit Type..</option>
						</select>
					</div>
					<!-- Show borders -->
					<div class="col-md-3" style="margin-top: 2%">
					<!-- Checkboxes for the different border options. Not perfect. -->
						<fieldset>
						 	<input type="checkbox" data-ng-model="testCtrl.showBorders"
						 	data-ng-checked="(testCtrl.showBorders == 3)|| testCtrl.borderOptions[2].checked" 
						 	data-ng-click="testCtrl.showBorders = testCtrl.borderOptions[2].level" 
						 	name="District"/>District<br/>
						 	
						 	<input type="checkbox" data-ng-model="testCtrl.showBorders"
						 	data-ng-checked="(testCtrl.showBorders == 2 || testCtrl.borderOptions[3].checked)" 
						 	data-ng-click="testCtrl.showBorders = testCtrl.borderOptions[3].level"
						 	name="Organisation Unit"/>Organisation Unit<br/>
						</fieldset>
					<!--<select class="form-control" data-ng-model="testCtrl.showBorders"
							data-ng-options="option.name for option in testCtrl.borderOptions">
							<option value="">Show Borders..</option>
						</select> -->
					</div>
				</div>
				<!-- End options row -->

				<!-- Row for new unit container, hidden by default -->
				<div class="row" id="create-unit-row">
					<!-- Create unit container. Hidden by default, revealed when used -->
					<div class="col-md-12" id="create-unit-container">
						<!-- Form for inputting orgunit variables -->
						<form name="createUnitForm" ng-submit="createOrgUnit(unit)">
							<h3>Create new Facility/Organisation Unit</h3>
							<div class="col-md-12" style="margin-top: 2%">
								<label for="unit-name">Type</label>
								<select class="form-control" data-ng-model="unit.type"
									data-ng-options="option.name for option in testCtrl.levelOptions | filter:optionFilter(option)">
									<option value="">Unit Type..</option>
								</select>
							</div>

							<!-- Submitting form. Which form shown depends on the type chosen above. -->
							<div class="col-md-12" style="margin-top: 2%">
								<div create-org-unit-form orgtype="{{unit.type.level}}"></div>
							</div>
						</form>
					</div>
				</div>
				<!-- End new unit container row -->

				<!-- Search-bar -->
				<div class="row" style="margin-top: 2%; margin-bottom: 2%">
					<div class="col-md-12">
						<input id="searchBar" type="text" class="form-control"
							placeholder="Search for {{testCtrl.currentOrgType.name}}..."
							data-ng-model="testCtrl.currentQuery">

					</div>
				</div>

				<!-- Drop-down list beneath the search bar. -->
				<div class="row">
					<div class="container-fluid">
						<div class="panel-group">
							<!-- Can add more filters to make the search tool more complex -->
							<div class="panel panel-default" id="unit-panel"
								ng-repeat="unit in testCtrl.allOrgUnits | filter:customFilter(unit) | limitTo:10">
								<div class="panel-heading" data-ng-click="updateMap(unit)">
									{{unit.name}}
									<div class="level" style="text-align: right">{{testCtrl.currentOrgType.name}}</div>
								</div>
								<div class="panel-body">
									<!-- Update form -->
									<form name="unitUpdateForm" ng-submit="updateOrgUnit(unit)">
										<!-- Name -->
										<fieldset class="form-group">
											<textarea ng-model="unit.name" placeholder="Name"></textarea>
										</fieldset>
										<!-- TODO: Add more attributes -->

										<!-- Submit button -->
										<fieldset class="form-group">
											<input type="submit" class="btn btn-primary pull-right"
												value="Save" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>