<!DOCTYPE html>

<html>
<head>
<!-- Allows us to use æøå etc. -->
<meta charset='utf-8'>

<!-- Makes the page mobile-friendly. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>JonasBrotherinos App</title>

<!-- jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Arrive (lib for detecting when elements are added to the DOM) -->
<script src="js/arrive-2.0.0.min.js"></script>
<!-- Latest compiled and minified JavaScript for bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- Script for panels ui -->
<script src="js/panels.js"></script>
<!-- Google Maps - Own API key used. Remove later. -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCOMUA-V2O418d4UzRqM2sSYW2jUuhhX4"></script>

<!-- Link the javascripts -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/map.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="http://dhis2-cdn.org/v215/ext/resources/css/ext-plugin-gray.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</head>

<!-- We reference the controller here. -->
<body data-ng-app="facilityRegistry">
=======
<body data-ng-app="facilityRegistry" data-ng-controller="TestController as testCtrl">

	<!-- Wide container which encapsulates everything in the app. -->
	<div class="container-fluid">
		<h1>Facility Registry</h1>

		<!-- Nest rows to let the map span multiple rows. -->
		<div class="row" style="height: 100%">

			<!-- Map -->
			<div class="col-md-8">
				<div id="map-canvas"></div>
			</div>

			<!-- Right-hand side. Added a background so we can see the boundaries of the box. -->
			<div class="col-md-4" style="background-color: #f0f8ff">

				<!-- Search-bar -->
				<div class="row" style="margin-top: 18px; margin-bottom: 5px">
					<div class="col-md-12">
						<input id="searchBar" type="text" class="form-control"
							placeholder="Search for facility..." data-ng-model="soek">

					</div>
				</div>

				<!-- Drop-down list beneath the search bar. -->
				<div class="row">
					<div class="container-fluid">
						<div class="panel-group">
							<!-- Can add more filters to make the search tool more complex -->
							<div class="panel panel-default" id="unit-panel"
								ng-repeat="unit in testCtrl.allOrgUnits | filter:soek | limitTo:10">
								<div class="panel-heading">{{unit.name}}</div>
								<div class="panel-body">
									<p>ID: {{unit.id}}</p>
									<p>Link: {{unit.href}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>