<!DOCTYPE html>

<html>
<head>
<!-- Allows us to use æøå etc. -->
<meta charset='utf-8'>

<!-- Makes the page mobile-friendly. -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>DHIS2 - Facility Registry</title>

<!-- jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<!-- Arrive (lib for detecting when elements are added to the DOM) -->
<script src="js/arrive-2.0.0.min.js"></script>
<!-- Latest compiled and minified JavaScript for bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- Script for panels ui -->
<script src="js/panels.js"></script>
<script src="js/ui.js"></script>
<!-- Google Maps - Own API key used. Remove later. -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCOMUA-V2O418d4UzRqM2sSYW2jUuhhX4"></script>

<!-- Link the javascripts -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/map.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	href="http://dhis2-cdn.org/v215/ext/resources/css/ext-plugin-gray.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">


</head>

<!-- We reference the controller here. -->
<body data-ng-app="facilityRegistry"
	data-ng-controller="TestController as testCtrl">

	<!-- Wide container which encapsulates everything in the app. -->
	<div class="container-fluid">
		<h1>Facility Registry</h1>

		<!-- Nest rows to let the map span multiple rows. -->
		<div class="row" style="height: 100%">

			<!-- Map -->
			<div class="col-md-8 col-sm-6">
				<div id="map-canvas" ng-mousemove="trackPosition()" ng-click="lockPosition()"></div>
			</div>

			<!-- Right-hand side. Added a background so we can see the boundaries of the box. -->
			<div class="col-md-4 col-sm-6 text-center">

				<!-- Toolbox / upper part of sidebar -->
				<div class="col-lg-12 col-md-12 col-sm-12" id="toolbox">
					<h2>Menu</h2>

					<!-- Actions -->
					<div class="col-lg-12 col-md-12 menu-container">
						<label class="menu-label" for="Actions">Actions</label>
						<!-- Actions box -->
						<div class="actions-box col-lg-12 col-md-12">
							<!-- Find me button -->
							<div class="col-lg-6 col-md-6">
								<button type="button" class="btn btn-default btn-md"
									ng-click="getLocation()">
									<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
									Find me
								</button>
							</div>
							<!-- Add new button -->
							<div class="col-lg-6 col-md-6">
								<button type="button" class="btn btn-default btn-md"
									id="add-new-btn" ng-click="clearBorders()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Add new
								</button>
							</div>

							<!-- Add new container -->
							<div class="col-lg-12 col-md-12" id="create-unit-row">
								<h4>Create new Facility/Organisation Unit</h4>
								
								<!-- The form -->
								<form name="createUnitForm" ng-submit="createOrgUnit(unit)">

									<div class="col-md-12" style="margin-top: 2%">
										<label for="unit-name">Type</label>
										<select class="form-control" data-ng-model="unit.type"
											data-ng-options="option.name for option in testCtrl.levelOptions | filter:optionFilter(option)">
											<option value="">Unit Type..</option>
										</select>
									</div>

									<!-- Submitting form. Which form shown depends on the type chosen above. -->
									<div class="col-md-12" style="margin-top: 2%">
										<div create-org-unit-form orgtype="{{unit.type.level}}"></div>
									</div>

								</form> <!-- End form -->

							</div> <!-- End add new container -->

						</div><!-- End actions box -->
					</div> <!-- End Actions -->

					<!-- Border options -->
					<div class="col-lg-12 col-md-12 menu-container">
						<label class="menu-label" for="Border options">Border options</label>
						<div class="border-box col-lg-12 col-md-12">
							<select class="form-control" data-ng-model="testCtrl.showBorders"
								data-ng-options="option.name for option in testCtrl.borderOptions">
								<option value="">Show Borders..</option>
							</select>
						</div> <!-- End border-box -->
					</div> <!-- End border-options -->

					<!-- Filter results -->
					<div class="col-lg-12 col-md-12 menu-container">
						<label class="menu-label" for="Filter results">Filter results</label>
						<div class="filter-box col-lg-12 col-md-12">
							<select class="form-control"
								data-ng-model="testCtrl.currentOrgType"
								data-ng-options="option.name for option in testCtrl.levelOptions">
								<option value="">Unit Type..</option>
							</select>
						</div> <!-- End filter-box -->
					</div> <!-- End filter results -->

				</div> <!-- End toolbox -->


				<!-- Results, lower part of sidebar -->
				<div class="col-lg-12 col-md-12" id="results">

					<h2>Results</h2>

					<!-- Search-bar -->
					<div class="row" id="search-row" >
						<div class="col-md-12 form-group has-feedback">
							<input id="searchBar" type="text" class="form-control"
								placeholder="Search for {{testCtrl.currentOrgType.name}}..."
								data-ng-model="testCtrl.currentQuery" />
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>
					</div>

					<!-- Drop-down list beneath the search bar. -->
					<div class="row">
						<div class="container-fluid">
							<div class="panel-group">
								<!-- Can add more filters to make the search tool more complex -->
								<div class="panel panel-default" id="unit-panel"
									ng-repeat="unit in testCtrl.allOrgUnits | filter:customFilter(unit) | limitTo:10">
									<div class="panel-heading" data-ng-click="updateMap(unit)">
										{{unit.name}}
										<div class="level" style="text-align: right">{{testCtrl.currentOrgType.name}}</div>
									</div>
									<div class="panel-body">
										<!-- Update form -->
										<form name="unitUpdateForm" ng-submit="updateOrgUnit(unit)">
											<!-- Name -->
											<fieldset class="form-group">
												<!-- Name -->
												<label for="unit-name">Name</label>
												<input ng-model="unit.name" placeholder="Name" class="form-control" />
											
												<!-- TODO: Add more attributes -->
												<label for="unit-shortname">Short name</label>
												<input ng-model="unit.shortName" placeholder="Short name" class="form-control" />

												<label for="unit-parent">Parent</label>
												<input ng-model="unit.parent.name" class="form-control" />
											</fieldset>
											<!-- TODO: Add more attributes -->
											<!-- Submit button -->
											<fieldset class="form-group">
												<input type="submit" class="btn btn-primary pull-right"
													value="Save" />
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End results -->
			</div> <!-- End sidebar -->
	</div>

</body>
</html>